/* ===============================================
		    GLOBAL CONFIGURATIONS
==================================================*/
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
img {
	max-width : 100%
}
html, body {
	margin : 0;
	padding : 0;
	min-width : 1000px;
	height : auto;
	background-color : black;
	background-image : url("./img/background.png");	
	background-attachment: scroll;
    background-position: left top;
    background-repeat: repeat;
	margin : 0px 0px 0px 0px;
	font-family : "Montserrat";
}
a {
	font-family : inherit;
	font-size : inherit;
	color : inherit;
	text-decoration : none;
}
h1 {
	font-family : "GearedSlabBold";
	color : white;
	font-size : 48px;
	margin : 10px auto 10px auto;
}
/* ADDING CUSTOM FONTS */

@font-face {
	font-family : "GearedSlab";
	src : url("./fonts/GearedSlab.ttf");
}
@font-face {
	font-family : "Montserrat";
	src : url("./fonts/Montserrat.otf");
}
@font-face {
	font-family : "GearedSlabBold";
	src : url("./fonts/GearedSlab-Bold.ttf");
}

/* ENTRANCE ANIMATIONS */

#fadeIn{
	animation-name: fadeIn;
	animation-duration: 1.5s;	
	animation-timing-function: ease-in-out;	
	-webkit-animation-name: fadeIn;	
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/* =================================
		NAVIGATION BAR 
=====================================   */

.nav {
	top: 0;
    width: 100%;
    height: 40px;
    z-index : 7000;
	float : left;
  	background-color: rgba(255,49,38,1);
	-wekit-transition : all 1s;
	-moz-transition : all 1s;
	-o-transition : all 1s;
	transition : 1s;
	min-width : 1000px;
}
.nav ul {
   float : left;
   margin-top : 0px;
}
.nav li {
   float: left;
   height : 28px;
   padding-left : 8px;
   padding-right : 8px;
   padding-top : 7px;
   padding-bottom : 5px;
   color: white;
   list-style-type: none;
   border-right : 1px solid #000;
   width : auto;
}
	.nav li:hover {
		color : #F05;
		background-color : #FFFF99;
		cursor : pointer;
	}
/* ============================================
			HOME PAGE & THE BUTTONS 
=============================================== */

.containerbut {
	display : inline-block;
	margin-top : 50px;
	width : 100%;
	height : auto;
	color : white;
}
.leftbutton {
	display : inline-block;
	left : 15%;
	width : auto;
	margin : auto 50px auto auto;
}
.center {
	display : inline-block;
	text-align : center;
	width : auto;
}
.countdown {
	height : auto;
    flex : 0 1 100%;
    padding : 5px;
	color : white;
    margin : 30px 40% 30px 40%;
    background: rgba(0,0,0,0.7);
}
.countdown p {
	font-family : "GearedSlab";
	font-size : 24px;
}
.rightbutton {
	display : inline-block;
	right : 15%;
	width : auto;
	margin : auto auto auto 50px;
}
.logohome {
	display : inline-block;
}
#but {
	display : inline-block;
	margin-top : 25px;
	padding : 25px 15px 25px 15px;
	width : 123px;
	font-family : "Montserrat";
	font-size : 16px;
	color : black;
	background-color : white;
	border-radius : 5%;
	text-decoration : none;
	word-wrap : break-word;
}
#butcent {
	display : inline-block;
	margin-top : 25px;
	padding : 20px;
	width : 360px;
	font-family : "Montserrat";
	font-size : 16px;
	color : black;
	background-color : white;
	border-radius : 5px;
	text-decoration : none;
}
	#but:hover, #butcent:hover {
		box-shadow : 0px 0px 10px #9966ff;
	}
/* ================================================
			   BODY & CONTENTS
===================================================   */

.body {
	margin : 50px auto 50px auto;
}
.body p {
	font-family : "Montserrat";
	font-size : 18px;
}

/* GLOBAL CONTENT (unless stated otherwise) */

.content {
	height : auto;
    flex : 0 1 100%;
    padding : 10px;
	color : white;
    margin : 100px 10% 20px 10%;
    background: rgba(0,0,0,0.7);
}

/* COMPETITIONS */

.wrap-comp {
	display : inline-block;
	min-width : 1000px;
	position : relative;
	height : auto;
    padding : 10px;
	color : white;
    margin: 100px 7% 50px 7%;
}
.list-comp, .content-comp {
	height : auto;
	padding : 10px;
	background : rgba(0,0,0,0.7);
}
.list-comp {
	float : left;
	min-width : 350px;
}
	.list-comp ul {
		list-style-type : none;
		padding : 5px;
	}
	.list-comp ul li {
		height : 22px;
		min-width : 300px;
		border-bottom : 1px solid #fff;
	}
	.list-comp ul li:hover {
		background-color : rgba(255,255,255,0.6);
		cursor : pointer;
	}
.content-comp {
	float : right;
	min-width : 600px;
}
/*===================================
   			   FOOTERS
===================================== */

footer {
	bottom : 0%;
	left : 0%;
	position : relative;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	min-width : auto;
	width : 100%;
	height : 95px;
	background-color : linear-gradient(#000000, #222222);
	box-shadow : 0px 0px 12px 1px #222222;
	z-index : 1000;
}
.foot-temp{
		z-index	: 9990;
		position : relative;
		margin-left : auto;
		margin-right : auto;
		height : auto;
		background: linear-gradient(#000000, #222222);
		padding : 20px;
	}
		.foot-temp img {
			float : left;
			margin : auto auto auto 27%;
		}
	.foot-tab{
		display : inline-block;
		text-align : center;
		vertical-align : top;
		margin : 20 0 20 30;
		z-index : 9990;
		min-height	: 60px;
		line-height : 20px;
		color : white;
		flex-flow: row wrap;
		font-family : Montserrat;
	}
		.foot-tab img{
			margin-left : auto;
			margin-right : auto;
		}
		.foot-temp p, .foot-tab p{
			color : #FFFFFF;
			font-family : "Montserrat";
			font-size : 14px;
			display : inline;
			line-height : 15px;
		}
